<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>FuelPilot AI</title>

    <link rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css">

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="container">

        <h1>FuelPilot AI</h1>

        <h3>
            Intelligent Fuel & EV Recommendation System
        </h3>

        <div class="search-container">

    <input
        type="text"
        id="locationInput"
        placeholder="Enter City or Landmark">

    <button onclick="searchLocation()">
        Search
    </button>

    <button onclick="getCurrentLocation()">
        📍 My Location
    </button>

</div>

<div class="prediction-container">

    <label>
        Prediction Date (Optional)
    </label>

    <input
        type="date"
        id="predictionDate">

    <label>
        Prediction Time (Optional)
    </label>

    <input
        type="time"
        id="predictionTime">

</div>

        <h3 id="result"></h3>

        <div id="map"></div>

        <h2>Nearby Stations</h2>

        <div id="stationList"></div>

    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script src="{{ url_for('static', filename='js/location.js') }}"></script>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>

    <script src="{{ url_for('static', filename='js/stations.js') }}"></script>

</body>

</html>