<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>FuelSense AI</title>

    <!-- Leaflet CSS -->

    <link rel="stylesheet"
          href="https://unpkg.com/leaflet/dist/leaflet.css"/>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>FuelSense AI</h1>

    <h3>Smart CNG & EV Station Recommendation System</h3>

    <button onclick="getLocation()">

        Allow My Location

    </button>

    <h2 id="result"></h2>

    <div id="map"></div>

</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script src="{{ url_for('static', filename='js/location.js') }}"></script>

</body>

</html>